:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
 --dark-grayish-blue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);
}

.container {
  background-color: var(--cream);
  padding: 30px;
  display: flex;
  flex-direction: row;
  /* min-width: 500px; */
  /* max-width: fit-content; */
  

}

.perfume-image{
  height: 400px;
  width: 300px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.text {
  display: flex;
  background-color: white;
  height: 400px;
  width: 300px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: space-around;
  padding-left: 2rem;
  padding-right: 5px;
  
  
  
}

.title {
  font-family: Fraunces;
  font-size: 30px;
  line-height: 1;
  padding-right: 50px;

}

.perfume {
  font-family: Montserrat;
  color: var(--dark-grayish-blue);
  font-size: 14px;
  letter-spacing: .2em;
  padding-top: 10px;
}

.description {
  font-family: Montserrat;
  color: var(--dark-grayish-blue);
  font-size: 14px;
  padding-right: 3rem;
  line-height: 1.5;

}

.New-price{
  font-family: Fraunces;
  color: var(--dark-cyan);
  font-size: 26px;
}
.Old-price{
  display: flex;
  align-items: center;
  font-family: Montserrat;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  font-size: 14px;
  padding-left: 2em;

}

button {
  display: flex;
  font-family: Montserrat;
  background-color: var(--dark-cyan);
  color: white;
  border: none;
  max-width: 250px;
  min-width: 250px;
  height: 38px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-weight:bold;
  padding: 10px;
  margin-bottom: 10px;
  
}

.price-container {
  display: flex;
  flex-direction: row;
  
}

.cart-icon {
  padding-right: 15px;
  height: 14px;

}

@media screen and (max-width: 500px) and (max-height: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    


  }
  .perfume-image{
    all:unset;
    object-fit:cover;
    height: 200px;
    width: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .text {
    all:unset;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  align-items:center;
  justify-content: space-around;
    background-color: white;
    height: 400px;
    width: 300px;
    /* padding-left: 10px; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .description {
   padding-left: 18px;
  }
}
